Additional Information

This archive contains 2075259 measurements gathered in a house located in Sceaux (7km of Paris, France) between December 2006 and November 2010 (47 months).
Notes: 

1.(global_active_power*1000/60 - sub_metering_1 - sub_metering_2 - sub_metering_3) represents the active energy consumed every minute (in watt hour) in the household by electrical equipment not measured in sub-meterings 1, 2 and 3.

2.The dataset contains some missing values in the measurements (nearly 1,25% of the rows). All calendar timestamps are present in the dataset but for some timestamps, the measurement values are missing: a missing value is represented by the absence of value between two consecutive semi-colon attribute separators. For instance, the dataset shows missing values on April 28, 2007.

In [70]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from scipy import stats
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [71]:
%matplotlib inline

In [72]:
household_power_consumption_df = pd.read_csv('household_power_consumption.txt', sep=';', header=0, low_memory=False)

In [73]:
household_power_consumption_df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [74]:
len(household_power_consumption_df)

2075259

In [75]:
household_power_consumption_df.isna().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [76]:
household_power_consumption_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 9 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date                   object
 1   Time                   object
 2   Global_active_power    object
 3   Global_reactive_power  object
 4   Voltage                object
 5   Global_intensity       object
 6   Sub_metering_1         object
 7   Sub_metering_2         object
 8   Sub_metering_3         float64
dtypes: float64(1), object(8)
memory usage: 142.5+ MB

In [77]:
household_power_consumption_df.isna().sum()

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [78]:
non_numeric_rows_global_active_power = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Global_active_power'], errors='coerce').isna()]
non_numeric_rows_global_reactive_power = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Global_reactive_power'], errors='coerce').isna()]
non_numeric_rows_voltage = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Voltage'], errors='coerce').isna()]
non_numeric_rows_global_intensity = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Global_intensity'], errors='coerce').isna()]
non_numeric_rows_sub_metering_1 = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Sub_metering_1'], errors='coerce').isna()]
non_numeric_rows_sub_metering_2 = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Sub_metering_2'], errors='coerce').isna()]
non_numeric_rows_sub_metering_3 = household_power_consumption_df[pd.to_numeric(household_power_consumption_df['Sub_metering_3'], errors='coerce').isna()]

In [79]:
print(f'non numeric rows in Global_active_power: {non_numeric_rows_global_active_power.shape[0]}')
print(f'non numeric rows in Global_reactive_power: {non_numeric_rows_global_reactive_power.shape[0]}')
print(f'non numeric rows in Voltage: {non_numeric_rows_voltage.shape[0]}')
print(f'non numeric rows in Global_intensity: {non_numeric_rows_global_intensity.shape[0]}')
print(f'non numeric rows in Sub_metering_1: {non_numeric_rows_sub_metering_1.shape[0]}')
print(f'non numeric rows in Sub_metering_2: {non_numeric_rows_sub_metering_2.shape[0]}')
print(f'non numeric rows in Sub_metering_3: {non_numeric_rows_sub_metering_3.shape[0]}')

non numeric rows in Global_active_power: 25979
non numeric rows in Global_reactive_power: 25979
non numeric rows in Voltage: 25979
non numeric rows in Global_intensity: 25979
non numeric rows in Sub_metering_1: 25979
non numeric rows in Sub_metering_2: 25979
non numeric rows in Sub_metering_3: 25979

In [80]:
print(f'global active power {len(household_power_consumption_df[household_power_consumption_df['Global_active_power'] == '?'])}')
print(f'global reactive power {len(household_power_consumption_df[household_power_consumption_df['Global_reactive_power'] == '?'])}')
print(f'voltage {len(household_power_consumption_df[household_power_consumption_df['Voltage'] == '?'])}')
print(f'global intensity {len(household_power_consumption_df[household_power_consumption_df['Global_intensity'] == '?'])}')
print(f'sub metering 1 {len(household_power_consumption_df[household_power_consumption_df['Sub_metering_1'] == '?'])}')
print(f'sub metering 2 {len(household_power_consumption_df[household_power_consumption_df['Sub_metering_2'] == '?'])}')
print(f'sub metering 3 {len(household_power_consumption_df[household_power_consumption_df['Sub_metering_3'] == "?"])}')

global active power 25979
global reactive power 25979
voltage 25979
global intensity 25979
sub metering 1 25979
sub metering 2 25979
sub metering 3 0

In [81]:
household_power_consumption_df = household_power_consumption_df.replace('?', np.nan)

In [82]:
household_power_consumption_df.isna().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [83]:
household_power_consumption_df['Date'] = pd.to_datetime(household_power_consumption_df['Date'], dayfirst=True)

In [84]:
household_power_consumption_df['Day'] = household_power_consumption_df['Date'].dt.day
household_power_consumption_df['Month'] = household_power_consumption_df['Date'].dt.month
household_power_consumption_df['Year'] = household_power_consumption_df['Date'].dt.year

In [85]:
household_power_consumption_df['Day_of_week'] = household_power_consumption_df['Date'].dt.dayofweek
household_power_consumption_df['Weekday'] = (household_power_consumption_df['Day_of_week'] < 5).astype(int)
household_power_consumption_df['Weekend'] = (household_power_consumption_df['Day_of_week'] >= 5).astype(int)

In [86]:
household_power_consumption_df.drop('Date', axis=1, inplace=True)

In [87]:
household_power_consumption_df.Time.head()

0    17:24:00
1    17:25:00
2    17:26:00
3    17:27:00
4    17:28:00
Name: Time, dtype: object

In [88]:
household_power_consumption_df['Time'] = pd.to_datetime(household_power_consumption_df['Time'], format='%H:%M:%S').dt.time

In [89]:
household_power_consumption_df['Hour'] = pd.to_datetime(household_power_consumption_df['Time'], format='%H:%M:%S').dt.hour
household_power_consumption_df['Minute'] = pd.to_datetime(household_power_consumption_df['Time'], format='%H:%M:%S').dt.minute

In [90]:
household_power_consumption_df.drop('Time', axis=1, inplace=True)

In [91]:
household_power_consumption_df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Day,Month,Year,Day_of_week,Weekday,Weekend,Hour,Minute
0,4.216,0.418,234.840,18.400,0.000,1.000,17.0,16,12,2006,5,0,1,17,24
1,5.360,0.436,233.630,23.000,0.000,1.000,16.0,16,12,2006,5,0,1,17,25
2,5.374,0.498,233.290,23.000,0.000,2.000,17.0,16,12,2006,5,0,1,17,26
3,5.388,0.502,233.740,23.000,0.000,1.000,17.0,16,12,2006,5,0,1,17,27
4,3.666,0.528,235.680,15.800,0.000,1.000,17.0,16,12,2006,5,0,1,17,28

In [92]:
imputer = IterativeImputer(max_iter=100, random_state=42)

In [93]:
imputed_data = imputer.fit_transform(household_power_consumption_df)

In [94]:
imputed_household_power_df = pd.DataFrame(imputed_data, columns=household_power_consumption_df.columns)

In [95]:
imputed_household_power_df.isna().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
Day                      0
Month                    0
Year                     0
Day_of_week              0
Weekday                  0
Weekend                  0
Hour                     0
Minute                   0
dtype: int64

In [96]:
imputed_household_power_df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Day,Month,Year,Day_of_week,Weekday,Weekend,Hour,Minute
0,4.216,0.418,234.84,18.4,0.0,1.0,17.0,16.0,12.0,2006.0,5.0,0.0,1.0,17.0,24.0
1,5.360,0.436,233.63,23.0,0.0,1.0,16.0,16.0,12.0,2006.0,5.0,0.0,1.0,17.0,25.0
2,5.374,0.498,233.29,23.0,0.0,2.0,17.0,16.0,12.0,2006.0,5.0,0.0,1.0,17.0,26.0
3,5.388,0.502,233.74,23.0,0.0,1.0,17.0,16.0,12.0,2006.0,5.0,0.0,1.0,17.0,27.0
4,3.666,0.528,235.68,15.8,0.0,1.0,17.0,16.0,12.0,2006.0,5.0,0.0,1.0,17.0,28.0

In [98]:
imputed_household_power_df['Season'] = pd.cut(imputed_household_power_df['Month'], [0, 3, 6, 9, 12], labels=['Winter', 'Spring', 'Summer', 'Fall'])

In [99]:
imputed_household_power_df['Time_period'] = pd.cut(imputed_household_power_df['Hour'], [0, 6, 12, 18, 24], labels=['Late Night', 'Morning', 'Afternoon', 'Evening'])

Next thing to do is turn Season and Time Period columns into dummies